.popup__clous_btn {
  position: absolute;
  background-image: url(../../../images/close-icon.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__clous_btn:hover {
  opacity: 0.6;
  transition: opacity, 0s, ease-out, 0.5s;
}

@media screen and (max-width: 540px) {
  .popup__clous_btn {
    right: 0;
  }
}

@media screen and (max-width: 430px) {
  .popup__clous_btn {
    top: -36px;
    width: 20px;
    height: 20px;
  }
}