.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  text-align: left;
  color: #FFFFFF;
  margin: 12px auto 0 0;
  text-decoration: none;
  transition: opacity .7s ease;
}

.place__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}