.header__lang_link_ru{
  display: flex;
  margin: 18px 18px 6px auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  color: #FFFFFF;
  transition: opacity, 0s, ease-out, 1s;
}

.header__lang_link_ru:hover {
  opacity: 0.6;
}


@media screen and (max-width: 425px) {  
  .header__lang_link_ru {
    margin: 14px 18px 8px auto;
    font-size: 18px;
    line-height: 20px;
  }
}