.place__paragrapf {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 25px 0 0 0;
}

.place__paragrapf:first-child  {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragrapf {
    font-size: 16px;
    line-height: 26px;
  }
}